/*====================================
=									 =
=              Header				 =
=									 =
====================================*/
* {
    font-family: 'Macondo';
}
.center {
    text-align:center;
}

body {
    background: url("FOTO/Vischpoort.jpg") no-repeat center center fixed;
}

.banner {
    height: 380px;
    margin: 0px 200px -50px 200px;
    background-color: transparent;
    overflow:auto;
}

.nav {
    margin: 0px 100px 0px 100px;
    padding: 0px 25px 0px 25px;
}

.navafbeelding {
    width: 100%;
    height: 120px;
}

.navmenu {
    margin: -75px 0px 0px 100px;
    padding: 0px;
}

.navmenu ul {
    margin: 0px;
    padding: 0px;
}

.navmenu li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    position: relative;
    background: transparent;
}

.navmenu li:hover {
    background: url("FOTO/oldparchment.jpg") no-repeat center center;
    width: 121px;
    border:1px solid black;
}

.navmenu ul li a {
    text-align: center;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    height: 20px;
    width: 120px;
    display: block;
    color:white;
}

.navmenu ul ul {
    position: absolute;
    visibility: hidden;
    z-index:100;
}

.navmenu ul ul li {
    margin: 0px 0px 0px 0px;
    background-color: blue;
}

.navmenu ul li:hover ul {
    visibility: visible;
    
}

.info {
    background: url("FOTO/oldparchment.png");
    padding: 10px;
    margin: 50px 250px 10px 250px;
    position: relative;
    border-left: 1px solid ;
    border-right: 1px solid ;
    border-radius: 5px;
    height: auto;
}

.agenda {
    margin: 20px 20px 20px 20px;
}

.nav a {
    text-decoration: none;
}


p.menu:hover {
    background-color: transparent;
}

p.menu2 {
    text-align: center;
    background-color: transparent;
    float: right;
    width: 100px;
    height: 30px;
    margin: 0px 100px 0px 10px;
    padding: 0px 0px 0px 0px;
    position: relative;
}

p.menu2:hover {
    background-color: transparent;
}

p.menu2 a {
      color:white;
}

/*====================================
=                                    =
=            Personages              =
=                                    =
====================================*/

img.personagefoto {
    padding: 0px;
    margin: 0px;
    width: 150px;
    z-index: 11;
    border: 2px solid darkblue;
}

.persoregel {
    width: 49%;
    height: 100%;
    z-index: 10;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 4px solid black;
}

.persoregel2 {
    width: 65%;
    height: 100%;
    z-index: 10;
    display: inline-block;
    margin-right: 8px;
    float: right; 
}

.persoregel h3{
    margin-top: 5px;
}

.infospeelpagina {
    width: 100%;
    border-bottom: 4px solid black;
    margin-bottom: 25px;    
}

a.contactlink {
    text-decoration: none;
    color:red;
}
   
.left {
    padding:10px;
    width: 150px;
    height: 225px;
    float: left;
    background: url("FOTO/vlagharderwijk2.jpg") no-repeat center center;
    border: 3px solid darkblue;
    display: inherit;
    text-align: center;
}

/*====================================
=                                    =
=              AGENDA                =
=                                    =
====================================*/
.agenda table {
    display: block;
    overflow: auto;
    width: auto;
    font-size: 115%;
    webkit-font-smoothing: antialiased;
    color: rgb(0, 0, 51);
}

.agenda th {
    background-color: rgb(51, 51, 102);
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
    border:1px solid white;
  }

.agenda td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 10px 20px;
    border:1px solid white;
  }

.centertext {
    text-align:center;
}
.agenda a {
    text-decoration: none;  
    color: rgb(51, 51, 102);
}


/*====================================
=                                    =
=              Header                =
=                                    =
====================================*/


.flat-table table {
    display: block;
    overflow: auto;
    width: auto;
    font-size: 115%;
    webkit-font-smoothing: antialiased;
    color: rgb(111, 111, 111);
}

.flat-table th {
    background-color: #AC9253;
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
    border:1px solid white;
  }

.flat-table td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 10px 20px;
    border:1px solid white;
  }

.centertext {
    text-align:center;
}
.flat-table a {
    text-decoration: none;  
    color: #AC9253;
}

/*====================================
=                                    =
=              Fotoboek              =
=                                    =
====================================*/



        article, aside, figure, footer, header, hgroup, menu, nav, section {
            display: block;
        }

        body {
            font-family:arial;
        }

        .container {
            width:700px;
            margin:30px auto 0;
        }

        .gallery {
            width:100%;
            margin:auto;
            text-align: center
        }

        #content {
            background:grey;            
            overflow:hidden;
        }

        .gallery ul {
            list-style:none;
        }

        .gallery li {
            display: inline-block;
            margin:10px;
        }
        .gallery img {
            display:block;
            padding:5px;
            background:#42517f;
            border:1px solid #99adeb;
            box-shadow:1px 1px 2px #000;
        }

        .gallery img:hover {
            border:1px solid #fff;
        }

/*====================================
=                                    =
=              Geschienis            =
=                                    =
====================================*/

.vakgeschiedenis {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.tekstvakgeschiedenis{
    width: 600px;
    height: 100%;
    float: left;
    position: block;
    margin-right: 150px;
    text-align: left;
}

.hardewijk{
    display: inline-block;
    height: 100%;
    float: right;
}

/*====================================
=                                    =
=              contact               =
=                                    =
====================================*/
.p5{
width: 561px;
word-wrap:break-word;

}
